body {
  font-family: Arial, sans-serif;
  background-image: url(https://media.npr.org/assets/img/2010/09/03/thomascgi_custom-fa1741025b00f1e188b3a31914a4d6e60afe528c-s1100-c50.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-sm {
  text-align: center;
  background-color: #0056b3;
  border: 1px solid black;
  border-radius: 8px;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 6px;
}

button:hover {
  background-color: #0056b3;
}

.row{
  background-color: skyblue;
  padding-top: 20px;
  padding-bottom: 30px;
}

h1{
  color: white;
  padding-top: 10px;
}

#nameInput{
  text-align: center;
}

