body {
  font-family: Arial, sans-serif;
}

.container-sm {
  text-align: center;
  margin: 50px;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.row{
  background-color: skyblue;
  padding-top: 20px;
  padding-bottom: 30px;
}

.container-sm{
  background-color: #0056b3;
}

h1{
  color: white;
  padding-top: 10px;
}

#nameInput{
  text-align: center;
}